p.
	Przeliczanie sondażowych wyników poparcia dla partii na uzyskane mandaty w Sejmie nie jest
	łatwe. Zgodnie z obecnie obowiązującą w Polsce ordynacją wyborczą głosy na poszczególne
	komitety są przeliczane na mandaty metodą D’Hondta osobno w każdym z 41 okręgów. Symulacja
	podziału mandatów przy założeniu takiego samego wyniku we wszystkich okręgach jest bardzo
	niedokładna, bowiem różnice w rozkładzie poparcia w poszczególnych okręgach mają istotne
	przełożenie na uzyskiwane mandaty.
p.
	Poniższy kalkulator próbuje rozwiązać ten problem poprzez symulację zróżnicowanego poparcia
	partii w okręgach na podstawie szczegółowych wyników wyborów do Sejmu w 2015 roku.
	Ugrupowanie, które w danym okręgu miało wtedy poparcie wyższe/niższe niż w całym kraju,
	również w tej symulacji będzie miało w tym okręgu odpowiednio wyższe/niższe poparcie. Pozwala
	to na sporządzenie szczegółowej prognozy podziału mandatów na poziomie poszczególnych okręgów.
p.
	Oczywiście problemem pozostaje ustalenie przepływów elektoratu między ugrupowaniami
	startującymi w 2015 roku a obecnymi. Można to zrobić jedynie w mocno przybliżony sposób.
	W przypadku PiS-u odpowiednikiem z poprzednich wyborów jest ten sam komitet. Dla pozostałych
	komitetów zastosowano następujące odpowiedniki: KO ≈ PO + Nowoczesna; Lewica ≈ Zjednoczona
	Lewica + Razem; PSL ≈ PSL + ¼ Kukiz’15; Konfederacja ≈ KORWiN + ¾ Kukiz’15.

form#support-form
	button#calculate-button Oblicz

.charts-row
	#support-bar-chart.ct-chart.ct-perfect-fourth
	#division-pie-chart.ct-chart.ct-perfect-fourth

#constituency-results

footer
	a.github(href='https://github.com/drastus/sejm-calculator') Kod źródłowy
	address Kontakt: zrchos na serwerze gmail.com
