main(class=(embed ? 'embed' : ''))
	unless embed
		h1 Kalkulator mandatów w wyborach do Sejmu

		p.
			Kalkulator zwraca szacowany rozkład mandatów w Sejmie na podstawie wyników sondażowych.
			Obliczenia są dokonywane zgodnie z obowiązującą w Polsce ordynacją wyborczą, tj. stosując
			metodę D’Hondta osobno w każdym z 41 okręgów wyborczych.
		p.
			Dodatkowo poparcie dla poszczególnych komitetów w okręgach jest różnicowane na podstawie
			szczegółowych wyników ostatnich wyborów parlamentarnych. Ugrupowanie, które w danym okręgu miało
			wtedy poparcie wyższe/niższe niż w całym kraju, również w tej symulacji będzie miało w tym
			okręgu odpowiednio wyższe/niższe poparcie. Pozwala to na sporządzenie szczegółowej prognozy
			podziału mandatów na poziomie poszczególnych okręgów.
		p.updates-texts Aktualizacje:
		ol.updates.updates-texts
			li.
				2019-11-15: od teraz w prognozie brane są pod uwagę wyniki wyborów do Sejmu z 2019 roku.
			li.
				2020-10-28: dodano partię polityczną Polska 2050; jej prognozowane poparcie w okręgach jest
				liczone na podstawie deklaracji wyborców Szymona Hołowni przedstawionych w artykule
				#[a(href='https://biqdata.wyborcza.pl/biqdata/7,159116,26083709,analiza-przeplywow-wyborcow-za-duda-tylko-pis-lewicowcy-nie.html') #[cite Analiza przepływów wyborców]] z 29 czerwca 2020 roku.
			li.
				2023-08-21: dodano koalicyjny komitet wyborczy Trzecia Droga (Polska 2050 + PSL – Koalicja Polska).
			li.
				2023-10-20: od teraz w prognozie brane są pod uwagę wyniki wyborów do Sejmu z 2023 roku.
			li.
				2025-07-04: uwzględniono Partię Razem, Koronę oraz rozpad Trzeciej Drogi; prognozowane poparcie
				w okręgach jest liczone na podstawie #[a(href='https://wiadomosci.onet.pl/kraj/duzy-sukces-karola-nawrockiego-ma-do-rozwiazania-kluczowy-problem-analiza/wrphc1v') deklaracji wyborców Grzegorza Brauna i Adriana Zandberga].


	form#support-form
		button#calculate-button Oblicz

	unless embed
		#url

	.charts-row
		#support-bar-chart.ct-chart
		#division-pie-chart.ct-chart

	unless embed
		#constituency-results

unless embed
	footer
		a.github(href='https://github.com/drastus/sejm-calculator') Kod źródłowy
		address Kontakt: zrchos na serwerze gmail.com
