p Zawartość
form#support-form
	table
		tr
			th Komitet
			th Poparcie
			th Mandaty
		tr(class='pis')
			td
				label(for='pis') Prawo i Sprawiedliwość
			td
				input(type='number' step='any' id='pis' name='pis' value='41')
				| %
			td
		tr(class='ko')
			td
				label(for='ko') Koalicja Obywatelska
			td
				input(type='number' step='any' id='ko' name='ko' value='28')
				| %
			td
		tr(class='lewica')
			td
				label(for='lewica') SLD – Lewica
			td
				input(type='number' step='any' id='lewica' name='lewica' value='13')
				| %
			td
		tr(class='psl')
			td
				label(for='psl') PSL – Koalicja Polska
			td
				input(type='number' step='any' id='psl' name='psl' value='5')
				| %
			td
		tr(class='konfederacja')
			td
				label(for='konfederacja') Konfederacja
			td
				input(type='number' step='any' id='konfederacja' name='konfederacja' value='5')
				| %
			td
		tr(class='mn')
			td Mniejszość Niemiecka
			td
			td
	button#calculate-button Oblicz

.charts-row
	#support-bar-chart.ct-chart.ct-perfect-fourth
	#division-pie-chart.ct-chart.ct-perfect-fourth

#constituency-results
