doctype html
html(lang='pl')
	head
		title Kalkulator mandatów w wyborach do Sejmu
		meta(charset="UTF-8")
	body
		div.container
			h1.main-heading Kalkulator mandatów w wyborach do Sejmu 2019

			include content.pug
