doctype html
html(lang='pl')
	head
		title Kalkulator mandatów w wyborach do Sejmu
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Kalkulator przeliczający sondażowe wyniki poparcia dla ugrupowań na przewidywany rozkład mandatów w Sejmie z uwzględnieniem obowiązujących okręgów wyborczych.")
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-151698411-1")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-151698411-1');
	body
		div.container
			h1.main-heading Kalkulator mandatów w wyborach do Sejmu

			include content.pug
