@import url('modern-normalize/modern-normalize.css');
@import url('chartist/dist/index.css');

body {
	color: #333;
	background-color: #eee;
	font-size: 15px;
}

main,
footer {
	width: 100%;
	max-width: 58rem;
	margin: 1rem auto;
	padding: 0.25rem 1.5rem 1rem;
	border: 1px solid lightgray;
	background-color: white;
}

.embed {
	margin: 0 auto;
	padding: 0.25rem auto 1rem;
}

.updates-texts {
	font-size: 13.5px;
}

.updates {
	margin-top: -10px;
	list-style-type: none;
}

h1 {
	font-size: 1.75rem;
}

p,
li {
	text-align: justify;
	line-height: 1.4;
}

.updates li {
	margin: 2px 0;
}

.charts-row {
	display: flex;
	height: auto;
	margin-bottom: 1rem;
	z-index: -1;
	pointer-events: none;
}

.ct-chart:empty {
	height: 0;
}

#division-pie-chart svg {
	transform-origin: (0, 100%);
	transform: translate(-6%, 34%) scale(1.1);
}

#division-pie-chart .ct-label {
	fill: white;
}

@media (width <= 500px) {
	.charts-row {
		flex-wrap: wrap;
	}
}

input[type='number'] {
	appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}

h2 {
	font-size: 1rem;
	line-height: 1.3;
}

#url {
	margin: 8px 0 32px;
}

#constituency-results {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#constituency-result {
	flex: 1;
}

#constituency-result .info {
	margin-top: 32px;
	text-align: center;
}

#constituencies-map {
	flex: 1;
	max-width: min(438px, 90vw);
}

.constituency {
	max-width: 25rem;
	margin: 0.5rem auto;
	padding: 0.5rem 1rem;
}

.constituency table {
	border-collapse: collapse;
}

.constituency p,
.constituency th,
.constituency td {
	font-size: 14px;
}

.constituency th,
.constituency td {
	padding: 4px 12px;
	border: 1px solid #888;
	text-align: left;
}

.constituency th:nth-child(2),
.constituency th:last-child,
.constituency td:nth-child(2),
.constituency td:last-child {
	width: 2rem;
	text-align: right;
}

#support-form table {
	margin: 1rem auto 0;
}

#support-form button {
	display: block;
	margin: 1rem auto 2.5rem;
	font-weight: bold;
}

#support-form input {
	width: 4rem;
	padding: 0.25rem;
	margin: 0 0.25rem 0 0.5rem;
	text-align: right;
}

#support-form table td,
#support-form table th {
	height: 2rem;
}

#support-form table td:last-child {
	text-align: right;
}

:root {
	--pis: #31469b;
	--ko: #fca43f;
	--lewica: #d44;
	--td: #8bd32e;
	--konfederacja: #655;
	--mn: #aaa;
}

.pis {
	stroke: var(--pis);
	fill: var(--pis);
}

.ko {
	stroke: var(--ko);
	fill: var(--ko);
}

.lewica {
	stroke: var(--lewica);
	fill: var(--lewica);
}

.td {
	stroke: var(--td);
	fill: var(--td);
}

.konfederacja {
	stroke: var(--konfederacja);
	fill: var(--konfederacja);
}

.mn {
	stroke: var(--mn);
	fill: var(--mn);
}

.bright30 {
	filter: brightness(125%);
}

.bright50 {
	filter: brightness(75%);
}

.bar-value {
	font-size: 12px;
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1rem 1.5rem;
}

address {
	font-style: normal;
}

a.github {
	color: #333;
}
