@import url('modern-normalize/modern-normalize.css');
@import url('chartist/dist/index.css');

body {
	color: #333;
	background-color: lightgoldenrodyellow;
	font-size: 15px;
}

.container {
	width: 100%;
	max-width: 58rem;
	margin: 1rem auto;
	padding: 0.25rem 1.5rem 1rem;
	border: 1px solid lightgray;
	background-color: white;
}

.updates {
	margin-top: -10px;
	list-style-type: none;
}

h1 {
	font-size: 1.75rem;
}

p,
li {
	text-align: justify;
	line-height: 1.4;
}

.updates li {
	margin: 2px 0;
}

.charts-row {
	display: flex;
	height: auto;
	margin-bottom: 1rem;
}

.ct-chart:empty {
	height: 0;
}

#division-pie-chart svg {
	transform-origin: (0, 100%);
	transform: translate(-6%, 34%) scale(1.1);
}

#division-pie-chart .ct-label {
	fill: white;
}

@media (width <= 500px) {
	.charts-row {
		flex-wrap: wrap;
	}
}

input[type='number'] {
	appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}

h2 {
	font-size: 1rem;
	line-height: 1.3;
}

#url {
	margin: 8px 0 32px;
}

#constituency-results {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#constituency-results::after {
	content: '';
	flex: auto;
	max-width: 26rem;
	margin: 0.5rem 0;
	padding: 0.5rem 1rem;
	border: 1px solid white;
}

.constituency {
	display: flex;
	flex-wrap: wrap;
	max-width: 26rem;
	margin: 0.5rem 0;
	padding: 0.5rem 1rem;
	border: 1px solid grey;
}

.constituency-data {
	width: 11rem;
}

.constituency table {
	margin-left: 1rem;
}

.constituency p,
.constituency td {
	font-size: 14px;
}

.constituency td:last-child {
	width: 2rem;
	padding-left: 1rem;
	text-align: right;
}

#support-form table {
	margin: 1rem auto 0;
}

#support-form button {
	display: block;
	margin: 1rem auto 2.5rem;
	font-weight: bold;
}

#support-form input {
	width: 4rem;
	padding: 0.25rem;
	margin: 0 0.25rem 0 0.5rem;
	text-align: right;
}

#support-form table td,
#support-form table th {
	height: 2rem;
}

#support-form table td:nth-child(2) {
	white-space: nowrap;
}

#support-form table td:last-child {
	text-align: right;
}

.pis {
	stroke: #263778;
}

.ko {
	stroke: #fca43f;
}

.lewica {
	stroke: #d44;
}

.td {
	stroke: #8bd32e;
}

.konfederacja {
	stroke: #655;
}

.mn {
	stroke: #aaa;
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0.5rem 1rem;
}

address {
	font-style: normal;
}

a.github {
	color: #333;
}
