@import 'modern-normalize/modern-normalize.css';
@import 'chartist/dist/chartist.min.css';

body {
	color: #333;
	background-color: lightgoldenrodyellow;
	font-size: 15px;
}

.container {
	width: 100%;
	max-width: 58rem;
	margin: 1rem auto;
	padding: 0.25rem 1.5rem;
	border: 1px solid lightgray;
	background-color: white;
}

h1 {
	font-size: 1.75rem;
}

.charts-row {
	display: flex;
	height: 200px;
}

#division-pie-chart svg {
	transform-origin: (0, 100%);
	transform: translate(-10%, 20%) scale(1.2);
}

@media (max-width: 500px) {
	.charts-row {
		flex-wrap: wrap;
	}
}

input[type='number'] {
	appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}

h2 {
	font-size: 1rem;
	line-height: 1.3;
}

#constituency-results {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#constituency-results::after {
	content: '';
	flex: auto;
	max-width: 26rem;
	margin: 0.5rem 0;
	padding: 0.5rem 1rem;
	border: 1px solid white;
}

.constituency {
	display: flex;
	flex-wrap: wrap;
	max-width: 26rem;
	margin: 0.5rem 0;
	padding: 0.5rem 1rem;
	border: 1px solid grey;
}

.constituency-data {
	width: 11rem;
}

.constituency table {
	margin-left: 1rem;
}

.constituency p,
.constituency td {
	font-size: 14px;
}

.constituency td:last-child {
	width: 2rem;
	padding-left: 1rem;
	text-align: right;
}

#support-form button {
	margin: 1rem 0;
}

#support-form input {
	width: 3.5rem;
	padding: 0.25rem;
	margin: 0 0.25rem 0 0.5rem;
	text-align: right;
}

#support-form table td,
#support-form table th {
	height: 2rem;
}

#support-form table td:nth-child(2) {
	white-space: nowrap;
}

#support-form table td:last-child {
	text-align: right;
}

.ct-series-a .ct-bar,
.ct-series-a .ct-slice-donut {
	stroke: #55a;
}

.ct-series-b .ct-bar,
.ct-series-b .ct-slice-donut {
	stroke: #a85;
}

.ct-series-c .ct-bar,
.ct-series-c .ct-slice-donut {
	stroke: #a55;
}

.ct-series-d .ct-bar,
.ct-series-d .ct-slice-donut {
	stroke: #1c6;
}

.ct-series-e .ct-bar,
.ct-series-e .ct-slice-donut {
	stroke: #655;
}
